/* 
Julia Jelgerhuis - 10725482 
Minor Programmeren - Dataprocessing
Homework week 6 - Linked Views

CSS stylesheet for linked.html
*/

/* .title {
    font-family: "arial";
    color: rgba(18, 119, 228, 0.727);
    font-weight: bold;
}

.text {
    font-family: "arial";
    fill: black;
    font-size: 11px;
    width: 650px;
    word-wrap: break-word;
    font-size: 15px;
} */

.slidecontainer {
    width: 100%;
}
.container-fluid {
    padding: 0px;
}

.slider {
    -webkit-appearance: button;
    appearance: none;
    width: 50%;
    height: 25px;
    background: #5d5b57;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 25px;
    background: rgba(195, 16, 16, 0.938);
    cursor: pointer;
}
div.tooltip {	
    position: absolute;			
    text-align: center;	
    padding: 12px;	
    font-size: 14px;
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;	
    background: black;
    color: #fff;
    border-radius: 2px;			
}

.subunit-boundary {
    fill: none;
    stroke: black;
    stroke-linejoin: round;
  }

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
    fill: black;
    font-size: 11px;
}

.axisLabel {
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
    fill: rgb(52, 46, 46);
    font-size: 15px;
    text-anchor: middle;
}

.textLegend {
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
    fill: rgb(52, 46, 46);
    font-size: 13px;
}

.d3-tip {
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1;
    font-size: 14px;
    padding: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
}

.svgAll{
    width: 1100px;
    height: 500px;
}


  

